body{
    background-image: url(../imagens/background2.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-home{
    margin: 100px auto;
    /* background-color: gray; */
    text-align: center;
    color: white;
    max-width: 500px;
}

.main-home .destaque{
    font-weight: bold;
}

.main-home h1{
    font-size: 36px;
    text-transform: uppercase;
}

.main-home p{
    line-height: 1.8;
}